* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

:root {
    font-size: 62.5%;
}

.allContainer {
    font-family: LocalConsolas;
    --font-xl: 2rem;
    --font-l: 1.3rem;
    --font-m: .9rem;
    --font-s: .7rem;
	--font-xs: .5rem;
    
    --my-black: #1C1C1C;
    --my-violet: #AE8FDB;
    --my-green: #93C572;
}

/* NAVBAR */

.navBar {
	padding-top: 5px;
}

.navBar__logo {
    display: none;
}

.navBar__links {
	display: flex;
	justify-content: center;
}

.navBar__links li {
	display: inline-block;
	background-color: var(--my-violet);
	list-style-type: none;
	padding: 5px 7px;
	margin: 22px 3vw;
	font-size: var(--font-m);
	font-weight: bold;
	border: 1px solid var(--my-green);
	cursor: pointer;
	position: relative;
	background-color: var(--my-black);
	z-index: 0;
	transition: 0.2s;
}

.navBar__links li::after {
	content: "";
	position: absolute;

	background-color: var(--my-violet);
	width: 100%;
	height: 100%;
	top: 3px;
	left: 3px;

	transition: 0.2s;
	z-index: -1;
}

.navBar__links li:hover::after {
	top: 1px;
	left: 1px;
}

/* MAIN */

.main {
	width: 80vw;
	max-width: 300px;
	margin: auto;
}

h1 {
    font-size: var(--font-xl);
    font-weight: normal;
	letter-spacing: 2px;
	color: var(--my-green);
	margin-top: 16px;
}

.main__description {
	font-size: var(--font-l);
	color: var(--my-green);
	margin-top: 3px;
}

.main__body {
	display: flex;
	align-items: center;
}

.main__brief p {
	font-weight: lighter;
	color: var(--my-violet);
	font-size: var(--font-m);
	letter-spacing: 0.5px;
	line-height: 12.5px;
	margin-right: 10px;
}

.main__profilePic img {
	display: flex;
	width: 114px;
	margin: auto;
	z-index: 1;
}

.profilePic {
    position: relative;
}

/* FIXED ASIDE BAR */

.floatingBar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	bottom: 2vh;
	margin-left: 2vw;

	background-color: white;
	height: 100px;
	width: 25px;
	border-radius: 20px;
}

.floatingBar a {
    display: flex;
    align-items: center;
}

.floatingBar img {
	color: var(--my-black);
	width: 20px;
}

/* ABOUT ME  */

.title, h2 {
	text-align: center;
	font-size: var(--font-l);
	color: var(--my-green);
	font-weight: bold;
	margin-top: 100px;
}

.aboutMe__img {
	height: 300px;
    display: none;
}

.aboutMe__descriptionContainer {
    margin: auto;
	background-color: var(--my-violet);
	width: 80vw;
	max-width: 300px;
	padding: 10px;
}

.aboutMe__description {
	color: var(--my-violet);
	font-size: var(--font-m);
	line-height: 15px;
	letter-spacing: .08em;
	padding: 10px;
	font-weight: bold;

	display: flex;
	justify-content: center;

	background-color: var(--my-black);
}

.aboutMe__description p {
	max-width: 216px;
}

/* SKILLS */

.skillsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	max-width: 300px;
	margin: auto;

	margin-top: 70px;
}

.skills__img {
    display: none;
}

.skillsContainer {
	border: 10px solid var(--my-violet);
	width: 80vw;
	background-color: var(--my-black);
}

.skills__title {
	text-align: center;
	margin-top: 5%;
}

.skills__boxContainer {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 16px auto;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 95px;
	height: 40px;
	margin: 10px 5px;
	background-color: var(--my-green);
	color: var(--my-violet);
	font-size: var(--font-m);
	font-weight: normal;

	z-index: 3;
}

.box p {
	z-index: 3;
}

.box img {
	width: 20px;
	height: 20px;
	margin-right: 5px;

	z-index: 3;
}

.box::after {
	content: "";
	position: absolute;
	background-color: var(--my-black);
	height: 100%;
	width: 100%;
	top: -5px;
	left: -5px;

	z-index: -1;
	transition: 0.2s;
}

.box:hover::after {
	top: 5px;
	left: 5px;
}

.footerContainer p {
    text-align: center;
	font-size: var(--font-xs);
	color: var(--my-black);
	margin-top: 20px;
}

/* BACKGROUND  */

.bg-black {
	position: absolute;
	background: url("../img/background/black-mobile.svg");
	height: 700px;
	width: 100%;
	z-index: -5;
	margin: auto;

	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-violet {
	position: absolute;
	background: url("../img/background/violet-mobile.svg");
	height: 600px;
	width: 100%;
	z-index: -5;

	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

}

.violet-1 {
	top: 100px;
}

.violet-2 {
	top: 2000px;
	height: 1000px;
	display: none;
}

header {
	width: 100%;
	color: white;
	font-size: var(--font-s);
	text-align: center;
	background-color: darkred;	
	position: fixed;
	z-index: 10;

}