* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

:root {
    font-size: 62.5%;
}

.allContainer {
    font-family: LocalConsolas;
    --font-xl: 2rem;
    --font-l: 1.3rem;
    --font-m: .9rem;
    --font-s: .7rem;
	--font-xs: .5rem;
    
    --my-black: #1C1C1C;
    --my-violet: #AE8FDB;
    --my-green: #93C572;
    
    
}

/* NAVBAR */

.navBar {
	padding-top: 1vh;
}

.navBar__logo {
    display: none;
}

.navBar__links {
	display: flex;
	justify-content: center;
}

.navBar__links li {
	display: inline-block;
	background-color: var(--my-violet);
	list-style-type: none;
	padding: 5px 7px;
	margin: 1vh 3vw;
	font-size: var(--font-m);
	font-weight: bold;
	border: 1px solid var(--my-green);
	cursor: pointer;
	position: relative;
	background-color: var(--my-black);
	z-index: 0;
	transition: 0.2s;
}

.navBar__links li::after {
	content: "";
	position: absolute;

	background-color: var(--my-violet);
	width: 100%;
	height: 100%;
	top: 3px;
	left: 3px;

	transition: 0.2s;
	z-index: -1;
}

.navBar__links li:hover::after {
	top: -2px;
	left: -2px;
}

/* MAIN */
.main, .main__name, .profilePic {
    margin-top: 3vh;
}

.main {
	width: 80vw;
	max-width: 340px;
	margin: auto;
}

h1 {
    font-size: var(--font-xl);
    font-weight: normal;
	letter-spacing: 2px;
	color: var(--my-green);
}

.main__description {
	font-size: var(--font-m);
	color: var(--my-green);
}

.main__body {
	display: flex;
	align-items: center;
}

.main__brief p {
	font-family: signika;
	font-weight: lighter;
	color: var(--my-violet);
	font-size: var(--font-m);
	letter-spacing: 1px;
	line-height: 12.5px;
}

.main__profilePic img {
	display: flex;
	width: 114px;
	margin: auto;
}

.profilePic {
    position: relative;
}

/* FIXED ASIDE BAR */

.floatingBar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	bottom: 2vh;
	margin-left: 2vw;

	background-color: white;
	height: 55px;
	width: 12px;
	border-radius: 20px;
}

.floatingBar a {
    display: flex;
    align-items: center;
}

.floatingBar img {
	color: var(--my-black);
	width: 10px;
}

/* ABOUT ME  */

.title, h2 {
	text-align: center;
	font-size: var(--font-l);
	color: var(--my-green);
	font-weight: bold;
	margin-top: 15vh;
}

.aboutMeSection {
	margin-top: 2vh;
}

.aboutMe__img {
	height: 300px;
    display: none;
}

.aboutMe__descriptionContainer {
    margin: auto;
	background-color: var(--my-violet);
	width: 80vw;
	max-width: 340px;
	padding: 10px;
}

.aboutMe__description {
	color: var(--my-violet);
	font-size: var(--font-s);
	line-height: 10px;
	letter-spacing: .08em;
	padding: 10px;

	display: flex;
	justify-content: center;

	background-color: var(--my-black);
}

.aboutMe__description p {
	max-width: 216px;
}

/* SKILLS */

.skillsSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	margin-top: 5vh;
}

.skills__img {
    display: none;
}

.skillsContainer {
	border: 10px solid var(--my-violet);
	width: 80vw;
	max-width: 340px;
	background-color: var(--my-black);
}

.skills__title {
	text-align: center;
	margin-top: 10%;
}

.skills__boxContainer {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 2vh auto;
}

.box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	position: relative;
	width: 72px;
	height: 26px;
	margin: 10px 5px;
	background-color: var(--my-green);
	color: var(--my-violet);
	font-size: var(--font-s);
	font-weight: bold;
	text-align: center;

	z-index: 3;
}

.box p {
	z-index: 3;
}

.box img {
	width: 15px;
	height: 15px;

	z-index: 3;
}

.box::after {
	content: "";
	position: absolute;
	background-color: var(--my-black);
	height: 100%;
	width: 100%;
	top: -3px;
	left: -3px;

	z-index: -1;
	transition: 0.2s;
}

.box:hover::after {
	top: 7px;
	left: 7px;
}

.footerContainer p {
    margin: 5vh 0 2vh 0;
    text-align: center;
	font-size: var(--font-s);
	color: var(--my-green);
}

/* BACKGROUND  */

.bg-black {
	position: absolute;
	background: url("../img/background/black-mobile.svg");
	height: 704px;
	width: 100%;
	z-index: -5;

	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-violet {
	position: absolute;
	background: url("../img/background/violet.svg");
	height: 2000px;
	width: 100%;
	z-index: -5;

	background-repeat: no-repeat;
	background-attachment: scroll;

	display: none;
}

.violet-1 {
	top: 650px;
}

.violet-2 {
	top: 2000px;
	height: 1000px;
    display:none;
}

header {
	color: white;
	font-size: 8px;
	text-align: center;
	background-color: darkred;	
}