
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allContainer {
	/* max-width: 1920px; */
	margin: auto;
	font-family: consolas;
}

/* BACKGROUND  */

.bg-black {
	position: absolute;
	background: url('../img/background/black.svg');
	/* height: 1800px; */
	height: 2800px;
	width: 100%;
	z-index: -2;

	background-repeat: no-repeat;
  	background-attachment: fixed;
}

.bg-violet {
	position: absolute;
	top: 800px;
	background: url('../img/background/violet.svg');
	height: 2000px;
	width: 100%;
	z-index: -1;

	background-repeat: no-repeat;
  	background-attachment: scroll;
}


/* NAVBAR */

.navBar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 5vh;
}

.navBar__logo {
	margin-left: 5vw;
	margin-right: auto;
	font-weight: 100;
	color: #AE8FDB;
	font-size: 50px;
}

.navBar__links {
	position: relative;
	top: 5vh;
	margin-right: 15vw;
}

.navBar__links li {
	display: inline-block;
	background-color: #AE8FDB;
	list-style-type: none;
	padding: 10px 5px;
	margin-right: 3vw;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 3px;

	/* outline: 0; */
	border: 1px solid #93C572;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	z-index: 0;
	transition: 0.2s;
}

/* agrandar bordes en hover (se rompe) */

/* .navBar__links li:hover {
	border: 2px solid #93C572;
	transition-delay: 0.1s;
} */

.navBar__links li::after {
  content: "";
  position: absolute;

  background-color: #AE8FDB;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 5px;

  transition: 0.2s;
  z-index: -1;
}

.navBar__links li:hover::after {
  top: 0px;
  left: 0px;
}

/* MAIN */

.main {
	display: flex;
	flex-direction: row;
	
	margin-top: 15vh;
	padding-left: 16vw;
	height: 80vh;

	font-size: 4.6rem;
}

.main__name {
	letter-spacing: 6px;
	color: #93C572;
}

.main__description {
	font-size: 2rem;
	color: #93C572;
}

.main__brief p {
	margin-top: 3vh;
	max-width: 35vw;

	font-family: signika;
	font-weight: lighter;
	color: #AE8FDB;
	font-size: 1.2rem;
	letter-spacing: 3px;
	line-height: 1.6;
}

.profilePic {
	position: relative;
	top: 15vh;
	right: 5vw;

	height: 60%;
}

.profilePic img {
	height: 100%;
}

/*.profilePic::after {
	content: "";
	position: absolute;
	background-color: #AE8FDB;

	height: 100%;
	width: 100%;
	top: -30px;
	left: -30px;

	z-index: -1;
}*/

/* FIXED ASIDE BAR */

.floatingBar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	bottom: 7vh;
	margin-left: 5vw;
	
	background-color: #FFFFFF;
	height: 230px;
	width: 50px;
	border-radius: 25px;

	transition: 1s
}

/* .floatingBar:hover {
	width: 500px;
	align-items:baseline;
	padding-left: 5px
} */

.floatingBar img {
	color: #1C1C1C;
	width: 40px;
}

/* ABOUT ME  */

.aboutMeContainer {
	position: relative;
	left: 40vw;

	width: 40vw;
}

.aboutMe__title {
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 2px 2px rgba(255, 255, 255, 0.8);

	margin: 0.5rem 2rem;
}

.aboutMe__descriptionContainer {
	background-color: #AE8FDB;

	width: 50vw;
	padding: 6%;
}

.aboutMe__description {
	color: #AE8FDB;
	letter-spacing: 2px;
	line-height: 30px;

	padding: 6%;
	margin: auto;

	background-color: #1C1C1C;
}

/* SKILLS */

.footerContainer {
	color:  red;
	height: 90px;
}